{% load static %}

<style>
  .footer a.btn-link.text-white:hover {
    color: #add8e6 !important;
  }
</style>

<!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Our Office</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Kolkata, West Bengal, India</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@loananza.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://x.com/gnitsodepur?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://www.facebook.com/gnitsodepurkolkata/"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://www.youtube.com/channel/UCsPH_rgx4nX5sZVNfBwd-Kw"><i
                                class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://www.linkedin.com/school/guru-nanak-institute-of-technology-kolkata/posts/?feedView=all"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Services</h4>
                    <a class="btn btn-link" href="/predict/">Predict</a>
                    <!--<a class="btn btn-link" href="">Cash Investment</a>-->
                    <!--<a class="btn btn-link" href="">Financial Consultancy</a>-->
                    <!--<a class="btn btn-link" href="">Business Loans</a>-->
                    <!--<a class="btn btn-link" href="">Business Analysis</a>-->
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="/">Home</a>
                    <a class="btn btn-link" href="/model_accuracy/">Model Accuracy</a>
                    <a class="btn btn-link" href="/analysis/">Analysis</a>
                    <a class="btn btn-link" href="/ourteam/">Our Team</a>
                    <a class="btn btn-link" href="/contact/">Contact Us</a>
                </div>
                <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Links</h4>
                <a class="btn btn-link text-white" href="https://www.paisabazaar.com/" target="_blank" rel="noopener">Paisabazaar</a>
                <a class="btn btn-link text-white" href="https://www.bankbazaar.com/" target="_blank" rel="noopener">Bankbazaar</a>
                <a class="btn btn-link text-white" href="https://www.creditmantri.com/" target="_blank" rel="noopener">CreditMantri</a>
                <a class="btn btn-link text-white" href="https://moneyview.in/" target="_blank" rel="noopener">MoneyView</a>
                <a class="btn btn-link text-white" href="https://indialends.com/" target="_blank" rel="noopener">IndiaLends</a>
              </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Loananza</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    Developed by <a>Angira , Reekparna, Pratyush</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>